swagger: "2.0"
info:
  description: "API de notícias."
  version: "1.0.0"
  title: "News API"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.sistemanoticias.com.br"
basePath: "/news-api/v1"
tags:
- name: "noticias"
  description: "Notícias para todos os gostos"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /categorias:
    get:
      tags:
      - "noticias"
      summary: "busca coleção de categorias"
      description: "Busca todas as categorias da base de dados."
      operationId: "buscaCategorias"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Categorias retornadas com sucesso!"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Categoria"
        "500":
          description: "Erro interno no server"
  /categorias/{categoriaId}/noticias/{noticiaId}:
    get:
      tags:
      - "noticias"
      summary: "Busca notícia por ID"
      description: "Busca notícia por ID conforme sua categoria"
      operationId: "buscaNoticia"
      produces:
      - "application/json"
      parameters:
      - name: "categoriaId"
        in: "path"
        description: "Código da categoria no BD."
        required: true
        type: "integer"
        format: "int64"
      - name: "noticiaId"
        in: "path"
        description: "Código da notícia no BD."
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "Notícia retornada."
          schema:
            $ref: "#/definitions/Noticia"
        "404":
          description: "Categoria não encontrada"
        "500":
          description: "Erro interno no server"
definitions:
  Categoria:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      nome:
        type: "string"
  Noticia:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      titulo:
        type: "string"
      conteudo:
        type: "string"